In [1]:
import pandas as pd
import numpy as np

In [12]:
df_2018 = pd.read_csv('2018_df_crime_day.csv')
df_2018.head(3)

,Unnamed: 0,dr_no,date_rptd,date_occ,time_occ,area,area_name,rpt_dist_no,part_1_2,crm_cd,...,status_desc,crm_cd_1,crm_cd_2,crm_cd_3,crm_cd_4,location,cross_street,lat,lon,day_of_week
0,0,180404092,2018-01-02T00:00:00.000,2018-01-01T00:00:00.000,2200,4,Hollenbeck,459,1,330,...,Invest Cont,330.0,NaN,NaN,NaN,3100 BLANCHARD ST,NaN,34.0477,-118.1963,Monday
1,1,182010595,2018-05-03T00:00:00.000,2018-01-01T00:00:00.000,800,20,Olympic,2034,1,341,...,Invest Cont,341.0,NaN,NaN,NaN,3500 WILSHIRE BL,NaN,34.0618,-118.3004,Monday
2,2,180204083,2018-01-01T00:00:00.000,2018-01-01T00:00:00.000,155,2,Rampart,239,2,624,...,Invest Cont,624.0,NaN,NaN,NaN,TEMPLE,BEAUDRY,34.0632,-118.2513,Monday

In [ ]:
new_df_2018 = df_2018[]

In [26]:
df_2018.groupby(['time_occ','day_of_week']).size().max()

1808

In [18]:
df_2018.groupby(['time_occ','day_of_week']).size().reset_index().max()

time_occ            2359
day_of_week    Wednesday
0                   1808
dtype: object

In [41]:
df_2018.groupby(['time_occ','day_of_week']).size().count()

7387

In [43]:
df_2018.groupby(['time_occ','day_of_week']).size().head(50)

time_occ  day_of_week
1         Friday         513
          Monday         648
          Saturday       556
          Sunday         537
          Thursday       545
          Tuesday        517
          Wednesday      500
2         Friday           2
          Monday           2
          Sunday           2
          Thursday         1
          Tuesday          1
          Wednesday        3
3         Friday           1
          Saturday         2
          Sunday           2
          Thursday         1
          Tuesday          2
4         Friday           2
          Monday           1
          Saturday         2
          Sunday           2
          Thursday         1
          Wednesday        2
5         Friday         145
          Monday         190
          Saturday       138
          Sunday         165
          Thursday       127
          Tuesday        129
          Wednesday      162
6         Friday           2
          Saturday         2
          Sunday           1
          Thursday         4
          Tuesday          1
          Wednesday        2
7         Friday           2
          Monday           1
          Sunday           5
          Thursday         1
          Tuesday          2
8         Friday           1
          Monday           2
          Saturday         2
          Sunday           1
          Thursday         1
          Wednesday        4
9         Monday           1
          Sunday           2
dtype: int64

In [59]:
df_2018.groupby(['day_of_week','time_occ']).size()

day_of_week  time_occ
Friday       1           513
             2             2
             3             1
             4             2
             5           145
                        ...
Wednesday    2355         41
             2356          1
             2357          2
             2358          2
             2359         23
Length: 7387, dtype: int64

In [61]:
df_2018.groupby(['day_of_week']).size()

day_of_week
Friday       34222
Monday       33510
Saturday     32705
Sunday       31651
Thursday     32361
Tuesday      31617
Wednesday    32297
dtype: int64

In [62]:
df_2018.groupby(['time_occ']).size()

time_occ
1       3816
2         11
3          8
4         10
5       1056
        ...
2355     317
2356       9
2357      10
2358      12
2359     166
Length: 1434, dtype: int64

In [70]:
new_df = df_2018.groupby(['time_occ','day_of_week']).size().reset_index(name='count').sort_values(by='count',ascending=False)

In [71]:
new_df

      time_occ day_of_week  count
3382      1200      Monday   1808
3385      1200    Thursday   1645
3381      1200      Friday   1538
3387      1200   Wednesday   1523
3386      1200     Tuesday   1461
...        ...         ...    ...
1142       358   Wednesday      1
1143       359      Friday      1
1151       401   Wednesday      1
5362      1738      Monday      1
2161       807   Wednesday      1

[7387 rows x 3 columns]

In [75]:
df_2018.shape

(228363, 30)

In [74]:
df_2018.groupby(['time_occ','day_of_week']).size().sort_values(ascending=False)

time_occ  day_of_week
1200      Monday         1808
          Thursday       1645
          Friday         1538
          Wednesday      1523
          Tuesday        1461
                         ...
753       Friday            1
752       Saturday          1
          Friday            1
751       Wednesday         1
1038      Saturday          1
Length: 7387, dtype: int64

In [65]:
df_2018.groupby(['day_of_week','time_occ']).size()

day_of_week  time_occ
Friday       1           513
             2             2
             3             1
             4             2
             5           145
                        ...
Wednesday    2355         41
             2356          1
             2357          2
             2358          2
             2359         23
Length: 7387, dtype: int64

In [68]:
df_2018.groupby(['day_of_week','time_occ']).size().max()

1808

In [88]:
df_2018.groupby(['date_occ','day_of_week']).size().sort_values(ascending=False).head(30)

date_occ                 day_of_week
2018-01-01T00:00:00.000  Monday         1059
2018-08-01T00:00:00.000  Wednesday       891
2018-06-01T00:00:00.000  Friday          885
2018-10-01T00:00:00.000  Monday          857
2018-05-01T00:00:00.000  Tuesday         851
2018-02-01T00:00:00.000  Thursday        850
2018-11-01T00:00:00.000  Thursday        835
2018-04-01T00:00:00.000  Sunday          819
2018-09-01T00:00:00.000  Saturday        797
2018-03-01T00:00:00.000  Thursday        768
2018-12-01T00:00:00.000  Saturday        765
2018-07-01T00:00:00.000  Sunday          747
2018-02-16T00:00:00.000  Friday          734
2018-10-28T00:00:00.000  Sunday          732
2018-05-18T00:00:00.000  Friday          723
2018-10-31T00:00:00.000  Wednesday       712
2018-07-27T00:00:00.000  Friday          703
2018-06-08T00:00:00.000  Friday          701
2018-12-21T00:00:00.000  Friday          699
2018-10-19T00:00:00.000  Friday          698
2018-06-15T00:00:00.000  Friday          697
2018-05-04T00:00:00.000  Friday          696
2018-07-19T00:00:00.000  Thursday        696
2018-08-31T00:00:00.000  Friday          696
2018-04-20T00:00:00.000  Friday          694
2018-05-25T00:00:00.000  Friday          693
2018-01-26T00:00:00.000  Friday          692
2018-10-05T00:00:00.000  Friday          691
2018-04-09T00:00:00.000  Monday          690
2018-07-11T00:00:00.000  Wednesday       687
dtype: int64

In [76]:
df_2018.groupby(['date_occ','day_of_week']).size().sort_values(ascending=False)

date_occ                 day_of_week
2018-01-01T00:00:00.000  Monday         1059
2018-08-01T00:00:00.000  Wednesday       891
2018-06-01T00:00:00.000  Friday          885
2018-10-01T00:00:00.000  Monday          857
2018-05-01T00:00:00.000  Tuesday         851
                                        ...
2018-01-04T00:00:00.000  Thursday        540
2018-02-22T00:00:00.000  Thursday        536
2018-11-12T00:00:00.000  Monday          533
2018-02-25T00:00:00.000  Sunday          529
2018-12-25T00:00:00.000  Tuesday         459
Length: 365, dtype: int64

In [89]:
df_2018.groupby(['time_occ','day_of_week']).size().sort_values(ascending=False).tail(30)

time_occ  day_of_week
1447      Wednesday      1
747       Friday         1
746       Wednesday      1
          Thursday       1
2209      Saturday       1
          Sunday         1
2208      Sunday         1
          Monday         1
757       Thursday       1
751       Thursday       1
757       Sunday         1
          Saturday       1
          Monday         1
          Friday         1
756       Wednesday      1
          Thursday       1
          Sunday         1
          Friday         1
2016      Friday         1
2014      Thursday       1
754       Wednesday      1
          Tuesday        1
          Sunday         1
          Saturday       1
          Monday         1
753       Friday         1
752       Saturday       1
          Friday         1
751       Wednesday      1
1038      Saturday       1
dtype: int64

In [87]:
df_2018.groupby(['time_occ','day_of_week']).size().sort_values(ascending=False).head(30)

time_occ  day_of_week
1200      Monday         1808
          Thursday       1645
          Friday         1538
          Wednesday      1523
          Tuesday        1461
          Saturday       1317
          Sunday         1241
1700      Friday         1046
1800      Friday         1015
          Monday          958
2000      Friday          951
1800      Wednesday       930
          Saturday        927
          Tuesday         923
2000      Thursday        906
1900      Friday          905
2000      Saturday        901
1900      Thursday        901
1800      Thursday        898
2000      Sunday          894
2200      Sunday          886
1800      Sunday          885
2000      Wednesday       882
1600      Friday          877
2200      Friday          876
2100      Friday          866
2000      Monday          866
1700      Thursday        853
          Saturday        853
2200      Saturday        849
dtype: int64

In [85]:
df_2018.groupby(['day_of_week','time_occ']).size().sort_values(ascending=False).head(30)

day_of_week  time_occ
Monday       1200        1808
Thursday     1200        1645
Friday       1200        1538
Wednesday    1200        1523
Tuesday      1200        1461
Saturday     1200        1317
Sunday       1200        1241
Friday       1700        1046
             1800        1015
Monday       1800         958
Friday       2000         951
Wednesday    1800         930
Saturday     1800         927
Tuesday      1800         923
Thursday     2000         906
Friday       1900         905
Thursday     1900         901
Saturday     2000         901
Thursday     1800         898
Sunday       2000         894
             2200         886
             1800         885
Wednesday    2000         882
Friday       1600         877
             2200         876
Monday       2000         866
Friday       2100         866
Saturday     1700         853
Thursday     1700         853
Saturday     2200         849
dtype: int64

In [84]:
df_2018.groupby(['day_of_week','date_occ']).size().sort_values(ascending=False).head(30)

day_of_week  date_occ
Monday       2018-01-01T00:00:00.000    1059
Wednesday    2018-08-01T00:00:00.000     891
Friday       2018-06-01T00:00:00.000     885
Monday       2018-10-01T00:00:00.000     857
Tuesday      2018-05-01T00:00:00.000     851
Thursday     2018-02-01T00:00:00.000     850
             2018-11-01T00:00:00.000     835
Sunday       2018-04-01T00:00:00.000     819
Saturday     2018-09-01T00:00:00.000     797
Thursday     2018-03-01T00:00:00.000     768
Saturday     2018-12-01T00:00:00.000     765
Sunday       2018-07-01T00:00:00.000     747
Friday       2018-02-16T00:00:00.000     734
Sunday       2018-10-28T00:00:00.000     732
Friday       2018-05-18T00:00:00.000     723
Wednesday    2018-10-31T00:00:00.000     712
Friday       2018-07-27T00:00:00.000     703
             2018-06-08T00:00:00.000     701
             2018-12-21T00:00:00.000     699
             2018-10-19T00:00:00.000     698
             2018-06-15T00:00:00.000     697
Thursday     2018-07-19T00:00:00.000     696
Friday       2018-05-04T00:00:00.000     696
             2018-08-31T00:00:00.000     696
             2018-04-20T00:00:00.000     694
             2018-05-25T00:00:00.000     693
             2018-01-26T00:00:00.000     692
             2018-10-05T00:00:00.000     691
Monday       2018-04-09T00:00:00.000     690
Wednesday    2018-07-11T00:00:00.000     687
dtype: int64

In [78]:
df_2018.groupby(['day_of_week']).size().sort_values(ascending=False)

day_of_week
Friday       34222
Monday       33510
Saturday     32705
Thursday     32361
Wednesday    32297
Sunday       31651
Tuesday      31617
dtype: int64

In [79]:
df_2018.groupby(['date_occ']).size().sort_values(ascending=False)

date_occ
2018-01-01T00:00:00.000    1059
2018-08-01T00:00:00.000     891
2018-06-01T00:00:00.000     885
2018-10-01T00:00:00.000     857
2018-05-01T00:00:00.000     851
                           ...
2018-01-04T00:00:00.000     540
2018-02-22T00:00:00.000     536
2018-11-12T00:00:00.000     533
2018-02-25T00:00:00.000     529
2018-12-25T00:00:00.000     459
Length: 365, dtype: int64